@model IList<Zasilka>

@{
    ViewData["Title"] = "Správa zásilek";
}

<h1>@ViewData["Title"]</h1>


@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Číslo zásilky</th>
                <th>Datum odeslání</th>
                <th>Odesílatel</th>
                <th>Příjemce</th>
                <th>Adresa doručení</th>
                <th>Kurýr</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var zasilka in Model)
            {
                <tr>
                    <td>@zasilka.Id</td>
                    <td>@zasilka.Cislo</td>
                    <td>@zasilka.DatumOdeslani.ToString("dd.MM.yyyy")</td>
                    <td>
                        @if (zasilka.Odesilatel != null)
                        {
                            @($"{zasilka.Odesilatel.Jmeno} {zasilka.Odesilatel.Prijmeni} ({zasilka.Odesilatel.Email})")
                        }
                    </td>
                    <td>
                        @if (zasilka.Prijemce != null)
                        {
                            @($"{zasilka.Prijemce.Jmeno} {zasilka.Prijemce.Prijmeni} ({zasilka.Prijemce.Email})")
                        }
                    </td>
                    <td>
                        @if (zasilka.Prijemce != null)
                        {
                            @($"{zasilka.Prijemce.Ulice} {zasilka.Prijemce.CP}, {zasilka.Prijemce.Mesto}, {zasilka.Prijemce.Psc}")
                        }
                    </td>
                    <td>
                        @zasilka.Kuryr?.Id
                    </td>
                    <td>
                        @zasilka.Stav?.Stav
                    </td>
                    <td>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@zasilka.Id" onclick="return ConfirmDelete();">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Žádné zásilky nebyly nalezeny.</p>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
    <a asp-action="Create" class="btn btn-primary btn-lg">Vytvořit balík</a>
</div>


@section Scripts
{
    <script src="~/js/dialogs.js"></script>
}