@model IList<Zasilka>


@{
    ViewData["Title"] = "Správa zásilek";
}

<h1>@ViewData["Title"]</h1>


@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(Zasilka.Id)</th>
                    <th scope="col">@nameof(Zasilka.Cislo)</th>
                    <th scope="col">@nameof(Zasilka.DatumOdeslani)</th>
                    <th scope="col">@nameof(Zasilka.OdesilatelId)</th>
                    <th scope="col">@nameof(Zasilka.PrijemceId)</th>
                    <th scope="col">@nameof(Zasilka.KuryrId)</th>
                    <th scope="col">@nameof(Zasilka.StavId)</th>

                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; ++i)
                {
                    Zasilka zasilka = Model[i];
                    <tr>
                        <th scope="row">@zasilka.Id</th>
                        <td>@zasilka.Cislo</td>
                        <td>@zasilka.DatumOdeslani</td>
                        <td>@zasilka.OdesilatelId</td>
                        <td>@zasilka.PrijemceId</td>
                        <td>@zasilka.KuryrId</td>
                        <td>@zasilka.StavId</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Package table is empty!</p>
    }
}