@model IList<DorucovaciSluzba.Infrastructure.Identity.User>

@{
    ViewData["Title"] = "Správa uživatelů";
    var userRoles = ViewBag.UserRoles as Dictionary<int, IList<string>>;
}

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>E-mail</th>
                <th>Username</th>
                <th>Telefon</th>
                <th>Adresa</th>
                <th>Role</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>@user.Telefon</td>
                    <td>
                        @if (!string.IsNullOrEmpty(user.Ulice))
                        {
                            @($"{user.Ulice} {user.CP}, {user.Mesto}, {user.Psc}")
                        }
                    </td>
                    <td>
                        @if (userRoles != null && userRoles.ContainsKey(user.Id))
                        {
                            @string.Join(", ", userRoles[user.Id])
                        }
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@user.Id" onclick="return ConfirmUserPackage();">Smazat</a>
                            <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@user.Id">Upravit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Žádní uživatelé nebyli nalezeni.</p>
}

@section Scripts
{
    <script src="~/js/dialogs.js"></script>
}